- name: copy cart service local to remote
  ansible.builtin.template:
    src: "{{ component }}.service"
    dest: /etc/systemd/system/{{ component }}.service

#- name: import node
#  ansible.builtin.include_role:
#    name: common
#    tasks_from: node.yaml
#
#- name: import npm
#  ansible.builtin.include_role:
#    name: common
#    tasks_from: npm.yaml
#
#- name: import backend
#  ansible.builtin.include_role:
#    name: common
#    tasks_from: backend_script.yaml

- name: Use role in loop
  ansible.builtin.include_role:
    name: common
    tasks_from: "{{ item }}"
  loop:
    - node
    - main
    - npm
    - backend_script
  loop_control:
    loop_var: item